.search-container {
	display: grid;
	grid-template-columns: 50px auto;
	text-align: center;
	justify-content: center;
	margin-top: 3rem;
}

.allCountiesContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	gap: 2px;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 2rem;
}
.country_card {
	padding: 5px;
	margin: 5px;
	width: 350px;
	height: auto;
	text-align: center;
}

.chart-container {
	position: relative;
	width: 100%;
	height: auto;
}

/* small screen */
@media only screen and (max-width: 750px) {
	.allCountiesContainer {
		grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr));
	}
	.country_card {
		width: 90vw;
		height: auto;
	}
}

/* big screen */
/* @media only screen and (min-width: 640px) {
	.allCountiesContainer {
		grid-template-columns: repeat(auto-fit, auto);
	}
	.country_card {
		width: 500px;
		height: 300px;
	}
} */
